RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# RewriteRule ^.*$ /nl/ [NC,L,QSA]
RewriteRule ^nl/.*$ /nl/ [NC,L,QSA]
RewriteRule ^en/.*$ /en/ [NC,L,QSA]
RewriteRule ^de/.*$ /de/ [NC,L,QSA]